/*
*   flex.css
*   Sets layout for all elements using flexbox.
*/

.flex-parent {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-flow: column nowrap; /* single-column, mobile-first */
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-child-standard {
    flex: 1 0 auto;
    margin: auto;
    text-align: center;
}

.flex-child-standard.banner {
    flex: 10 0 auto;
}

