/*
*   flex.css
*   Sets layout for all elements using flexbox.
*/

.flex-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-flow: column nowrap; /* single-column, mobile-first */
    justify-content: space-between;
    height: 100%;
}

.flex-row {
    flex: 1 0 auto;
    margin: auto;
    text-align: center;
}


